In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
import warnings
warnings.filterwarnings('ignore')

In [6]:
df = pd.read_excel("boston.xlsx")
df.head(5)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,0.00632,18.0,2.31,0,0.538,6575.0,65.2,4.09,1,296,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0,0.469,6421.0,78.9,49671.00,2,242,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0,0.469,7185.0,61.1,49671.00,2,242,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0,0.458,6998.0,45.8,60622.00,3,222,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0,0.458,7147.0,54.2,60622.00,3,222,18.7,396.90,5.33,36.2

In [7]:
input_data = df.iloc[:,:-1]
output_data = df["medv"]

In [8]:
from sklearn.model_selection import train_test_split

In [9]:
x_train,x_test,y_train,y_test = train_test_split(input_data,output_data,test_size=0.25)

In [10]:
x_test

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat
224,0.31533,0.0,6.20,0,0.504,8266.0,78.3,28944.0,8,307,17.4,385.05,4.14
263,0.82526,20.0,3.97,0,0.647,7327.0,94.5,20788.0,5,264,13.0,393.42,11.25
84,0.05059,0.0,4.49,0,0.449,6389.0,48.0,47794.0,3,247,18.5,396.90,9.62
432,644405.00000,0.0,18.10,0,0.584,6425.0,74.8,22004.0,24,666,20.2,97.95,12.03
313,0.26938,0.0,9.90,0,0.544,6266.0,82.8,32628.0,4,304,18.4,393.39,7.90
...,...,...,...,...,...,...,...,...,...,...,...,...,...
86,0.05188,0.0,4.49,0,0.449,6015.0,45.1,44272.0,3,247,18.5,395.99,12.86
75,0.09512,0.0,12.83,0,0.437,6286.0,45.0,45026.0,5,398,18.7,383.23,8.94
136,0.32264,0.0,21.89,0,0.624,5942.0,93.5,19669.0,4,437,21.2,378.25,16.90
116,0.13158,0.0,10.01,0,0.547,6176.0,72.5,27301.0,6,432,17.8,393.30,12.04
68,0.13554,12.5,6.07,0,0.409,5594.0,36.8,6498.0,4,345,18.9,396.90,13.09